*.d
*.ko
*.ko.cmd
*.o
*.o.cmd
*.uo
.tmp_versions
Kbuild
Makefile
Module.symvers
autom4te*
config.h
config.log
config.status
configure
elementmap-sample.xml
kversion.c
modules.order
sample-kelem.conf
sample-kelem.mk
sample-kmain.cc
sample-uelem.conf
sample-uelem.mk
sample-umain.cc
sample.mod.c
