*.d
*.kd
*.ko
*.ko.cmd
*.o
*.o.cmd
*.ud
*.uo
.tmp_versions
Kbuild
Makefile
Module.symvers
autom4te*
config.h
config.log
config.status
configure
elementmap-ron.xml
kelements.conf
kelements.mk
kpackage.cc
kversion.c
modules.order
ron.mod.c
uelements.conf
uelements.mk
upackage.cc

